
body {
  background-color: black;
}

body .snap-content {
  color: #ddd;
}

.snap-content {
  background-color: black;
  z-index: 10;
}

.snap-drawer .menu-icon {
  display: none;
}

header {
  margin-bottom: 20px;
  background-color: #333;
  padding: 10px;
}

header .logo, header a.options {
  font-size: 24px;
}

header .logo, header .logo:hover {
  text-decoration: none;
  color: white;
}

a.options {
  margin-left: 10px;
  margin-right: 10px;
}

header.black {
  color: #333;
  margin-bottom: 0px;
}

.bg {
  color: black;
  padding: 10px;
  margin: 0 20px 20px 20px;
}

legend {
  color: #999;
  border-bottom-color: #444;
}

body .form-control {
  background-color: black;
  color: #eee;
  border-color: #563d7c;
}

input.form-control, select.form-control {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

input.ng-invalid, select.ng-invalid {
  border-color: #a94442;
  background-color: #602726;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}



.infobook h1, .infobook h2, .infobook h3, .infobook h4, .infobook h5, .infobook h6 {
  color: #aaa;
}

form.sensorInfo, form.configuration {
  max-width: 95%;
  margin: auto;
}

.repository {
  border-top: 1px solid #444;
  margin: 20px auto;
}

.sensor-box {
  min-width: 100px;
  display: inline-block;
  vertical-align: top;
}

.center-sensors {
  margin: auto;
  text-align: center;
}

.sensor-container table.table {
  text-align: left;
  width: auto;
  margin: auto;
}

.sensor-container table.table tr.bg-danger {
  background: rgba(0, 255, 255, 0.2);
}

.sensor-container table.table tr.bg-warning {
  background: rgba(252, 248, 227, 0.2);
}

.sensor-container table.table th {
  border-top-color: black;
  color: white;
}

tr.number, td.number {
  text-align: right;
}

.sensor-container table.table > tbody > tr > td {
  border-top-color: #444;
  color: #999;
}

.snap-drawer {
  background-color: #222;
}

.list-group-item {
  background-color: black;
  border-color: #333 black #333 black;
}

a.list-group-item {
  color: #999;
}

a.list-group-item:hover {
  color: black;
}

.list-group-item.title {
  color: white;
  font-weight: bold;
  font-size: 120%;
}

a.list-group-item:hover, a.list-group-item:focus {
  color: #333;
  background-color: #999;
}

.snap-drawer a.list-group-item:first-child,
.snap-drawer a.list-group-item:last-child {
  border-radius: 0px;
}

tr.sensor-item {
  cursor: pointer;
}


.app-style-legia .snap-content {
  background: url(../img/legia.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app-style-forrest .snap-content {
  background: url(../img/forrest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body[class*="app-style-"] header {
  background-color: transparent;
}

body[class*="app-style-forrest"] label, body[class*="app-style-forrest"] legend, body[class*="app-style-forrest"] h1,
body[class*="app-style-forrest"] h2, body[class*="app-style-forrest"] h3, body[class*="app-style-forrest"] h4,
body[class*="app-style-forrest"] h5, body[class*="app-style-forrest"] h6, body[class*="app-style-forrest"] p {
  /* sensowne kolory - chyba trzeba dla każdego bg z osobna */
  color: white;
}


body[class*="app-style-"] label, body[class*="app-style-"] legend, body[class*="app-style-"] h1,
body[class*="app-style-"] h2, body[class*="app-style-"] h3, body[class*="app-style-"] h4,
body[class*="app-style-"] h5, body[class*="app-style-"] h6, body[class*="app-style-"] p {
  /* sensowne kolory - chyba trzeba dla każdego bg z osobna */
  color: white;
}


/*********************************************************************************************************************
  Style dla sensorów
 **********************************************************************************************************************/

.circle-comment {
  text-align: center;
  color: #666;
}

.outer {
  position: relative;
  background-color: blue;
  width: 100px;
  height: 100px;
}

.inner {
  position: absolute;
  top: 11px;
  left: 11px;
  background-color: black;
  width: 78px;
  height: 78px;
  box-shadow: 0px 0px 15px 0px black;
}

.divider {
  position: absolute;
  top: -1px;
  left: 45px;
  width: 10px;
  height: 12px;
  background-color: black;
  box-shadow: 0px 0px 15px 0px black;
}

.dot {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: black;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.spin {
  position: relative;
  width: 100px;
  margin: 10px auto;
}


.spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
}

.spin span {
  position: absolute;
  font-family: sans-serif;
  z-index: 10;
}
.spin span.circle-text {
  left: 40px;
  font-size: 18px;
  color: #ddd;
  line-height: 100px !important;
}
.spinner {
  animation: spin1 20s infinite linear;
  -webkit-animation: spin1 20s infinite linear;
}

.inactive .spinner {
  animation: none;
  -webkit-animation: none;
}

.inactive .outer {
  background-color: grey !important;
}

@keyframes spin1 {
  0% {
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
  }
  100% {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
  }
}
@-webkit-keyframes spin1 {
  0% {
    -moz-transform:rotate(320deg);
    -webkit-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
  }
  100% {
    -moz-transform:rotate(680deg);
    -webkit-transform:rotate(680deg);
    -o-transform:rotate(680deg);
    -ms-transform:rotate(680deg);
  }
}


/*********************************************************************************************************************
  Przyciski szklane
 **********************************************************************************************************************/

div.glass-button.button-small {
  margin-left: 0px;
  margin-right: 0px;
}

div.glass-button {
  margin:10px;
  padding:10px;
  min-width:100px;
  min-height:100px;
  border:1px solid rgba(0,0,0,0.5);
  border-bottom-color: #1a1a1a;
  border-radius: 10px;
  -webkit-box-shadow:
  0 2px 6px rgba(0,0,0,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow:
  0 2px 6px rgba(0,0,0,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(0,0,0,0.3);
  box-shadow:
  0 2px 6px rgba(0,0,0,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.25);
}


div.glass-button:hover, div.frosted-button:hover {
  border:1px solid rgba(82,168,236,0.5);
  -webkit-box-shadow:
  0 2px 6px rgba(82,168,236,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(82,168,236,0.3);
  -moz-box-shadow:
  0 2px 6px rgba(82,168,236,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(82,168,236,0.3);
  box-shadow:
  0 2px 6px rgba(82,168,236,0.5),
  inset 0 1px rgba(255,255,255,0.3),
  inset 0 10px rgba(255,255,255,0.2),
  inset 0 10px 20px rgba(255,255,255,0.25),
  inset 0 -15px 30px rgba(82,168,236,0.3);
}

/*********************************************************************************************************************
  Przyciski oszronione
 **********************************************************************************************************************/

div.frosted-button.button-small {
  margin-left: 0px;
  margin-right: 0px;
}

div.frosted-button {
  border: 1px solid;
  border-color: transparent;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /*
  height: 180px;
  position: relative;
  padding: 10px 0;
  */
  min-width:100px;
  min-height:100px;
  margin:10px;
  padding:10px;
}

.glass::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.glass .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}

.glass h1 {
  position: relative;
  margin: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  font-size: 180px;
  font-weight: normal;
  font-family: "Megrim", sans-serif;
  line-height: 1;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}


/*********************************************************************************************************************
  loading spinner
 **********************************************************************************************************************/

.loading-spinner {
  width: 30px;
  height: 14px;
  display: inline;
}

.loading-spinner > div {
  background-color: #333;
  height: 100%;
  width: 3px;
  height: 10px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.loading-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}