
body {
  background-color: black;
}

header {
  margin-bottom: 20px;
  background-color: #333;
  padding: 10px;
}

header .logo, header a.options {
  font-size: 24px;
}

header .logo, header .logo:hover {
  text-decoration: none;
  color: white;
}

a.options {
  margin-left: 10px;
  margin-right: 10px;
}

header.black {
  color: #333;
  margin-bottom: 0;
}

.bg {
  color: black;
  padding: 10px;
  margin: 0 20px 20px 20px;
}

legend {
  color: #999;
  border-bottom-color: #444;
}

body .form-control {
  background-color: black;
  color: #eee;
  border-color: #563d7c;
}

input.form-control, select.form-control {
  transition:all linear 0.5s;
}

input.ng-invalid, select.ng-invalid {
  border-color: #a94442;
  background-color: #602726;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

form {
  max-width: 95%;
  margin: auto;
}

tr.number, td.number {
  text-align: right;
}

.list-group-item {
  background-color: black;
  border-color: #333 black #333 black;
}

a.list-group-item {
  color: #999;
}

a.list-group-item:hover {
  color: black;
}

.list-group-item.title {
  color: white;
  font-weight: bold;
  font-size: 120%;
}

a.list-group-item:hover, a.list-group-item:focus {
  color: #333;
  background-color: #999;
}

.app-theme-background-image {
  background-size: cover;
  color: white;
}

body.app-theme-background-image header {
  background-color: transparent;
}
